<%= link_to 'Criar produto', new_product_path %>


<% @products.each do |product|%>
<p> <%= product.name %></p>
<p> <%= product.quantidade %></p>
<p> <%= product.price %></p>

<%= link_to 'ver_produto', product %>
<% end %>